﻿body {
    background-color: #16B953;
    
}

.card {
    width: auto;
    min-width: 200px;
    max-width: 300px;
    height: auto;
    padding: 0;
}

#qq{
    
    padding-bottom: 80px;
    padding-top: 50px;
}

.profile-info-container .prop{
    font-weight: bolder;
}