﻿body {
    /*background-image: url("../images/reg_background.gif");*/
    background-color: #209AC9;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#form-container{
    background-color: white;
    /*margin: 15px auto;*/
    padding: 20px 100px;
}
