﻿.bigwhitediv {
    background-color: white;
    padding: 0 15px;
    margin: 0;    
}

html,
body,
.my-body-container{
    height: 100%;
}

.my-content-container {
    min-height: 100%;
    padding-bottom: 60px;
}

footer {
    height: 50px;
    margin-top: -50px;

    padding: 15px 100px;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.albums-table{
    margin-top: 30px;
}

.albums-table td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

.albums-table img {
    height: 90px;
}

.albums-table tr {
    height: 100px;
}