body {
    background-color: #FF941F;
}

.profilename{
	font-size: 2.3em;
}

.bigwhitediv, .my-body-container {
    min-width: 850px;
}

.profile-header{
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 3px 10px;
	justify-content: flex-end;
	text-align: right;	
	/*background-color: #cad9e7;*/
}

.special-profile-header{
	color: blue;
}

.special-profile-header:before{
	content: "[";
}

.special-profile-header:after{
	content: "]";
}

.card{
	width: auto;
	min-width: 200px;
	max-width: 300px;
    height: auto;
	padding: 0;
}

.bg-lgray,
.profile-header
{
	background-color: rgba(0, 0, 0, 0.05);
}

.align-right {
	float: right;
}
.profile-info-container{
	padding-right: 0px;
}
.profile-info-container .row
{
	padding-left: 15px;
	padding-right: 0px;
	position:absolute; 
	bottom:0; 
	width:inherit;
}
.profile-info tr > td:first-child {
    width: 250px;
}

.profile-info tr{
	height: 100px;
}
.profile-btn-wrapper{
	margin-right: 0;
	padding: 15px;
}

#ratings-wrapper {
    border: solid lightgray 1px;
    margin-top: 70px;
    margin-bottom: 10px;
}
/*.collection-search-form > *{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	height: auto !important;
}*/

/*#collection-search-key{
	width: 150px;
}
    */
.collection-navigation{
	padding: 0;
}

.activities-table,
.ratings-table{
	margin-bottom: 0;
}
.activities-table tr{
	height: 70px;
}
.activities-table td,
.ratings-table td{
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}
.activities-table img{
	height:60px;
}

.ratings-table tr{
	height: 50px;
}

.ratings-table td:nth-child(3){
	padding-right: 100px;
}
.ratings-table .progress
{
	height: 25px;
	background: transparent;
}
.activity-date{
	text-align: center;
	line-height: 20px;
	background-color: lightgray;
}
.activity-month{
	font-size: 12px;
	font-weight: 600;
}
.activity-day{
	font-size: 18px;
	font-weight: 700;
}
.activity-year{
	font-size: 14px;
	font-weight: 400;
}

.activities-expand{
	font-size: 20px;
	font-weight: bold;
}

/*@media (max-width: 900px){
    .bigwhitediv{
        
    }
}*/