﻿@model ArtistViewModel
@{
    ViewData["Title"] = "ArtistInfo";
}
@section Styles{
    <link rel="stylesheet" href="~/css/artist.css" />
}

<div class="bigwhitediv col-lg-7" id="qq" style="width:80%;min-width:850px" align="left">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header"><h2>@Model.FullName</h2></div>
                @if (!Model.HasImage)
                {
                    <img class="card-img-top" src="~/images/default.jpg" alt="card photo" />
                }
                else
                {
                    <img class="card-img-top" src="~/images/artists/@(Model.SurrogateId).jpg" alt="card photo" />

                }
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-action="SetImage" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="artistId" value="@Model.SurrogateId" />
                        <input type="file" class="form-control" name="image" value="обзор">
                        <input type="submit" class="form-control" value="загрузить">
                    </form>
                }
            </div>

            <div class="col profile-info-container">
                <table class="table table-striped profile-info" style="text-align: left">
                    <tbody>
                        <tr><td><span class="prop">Номер:</span> @Model.SurrogateId</td></tr>
                        <tr><td><span class="prop">Имя:</span> @Model.FullName</td></tr>
                        <tr><td><span class="prop">Тип исполнителя:</span> @Html.DisplayFor(m => m.Type)</td></tr>
                        <tr><td><span class="prop">Годы:</span> @(Model.Type == ArtistType.Band ? "творчества" : "жизни"): @(Model.YearBorn?.ToString() ?? "...") - @(Model.YearDied?.ToString() ?? "...")</td></tr>
                        <tr><td><span class="prop">Страна:</span> @Model.Country</td></tr>
                        <tr><td><span class="prop">Биография:</span> @Model.Biography</td></tr>
                        <tr>
                            <td>
                                <span class="prop">Группы:</span>
                                @if (Model.BandsLexems?.Length != 0)
                                {
                                    @Model.BandsLexems?[0]
                                }
                                @for (Int32 i = 1; i < Model.BandsLexems?.Length; i++)
                                {
                                    <a asp-action="artistinfo" asp-route-url="@Model.BandsAnchors[i-1].Url">@Model.BandsAnchors[i - 1].Name</a>
                                    @Model.BandsLexems[i]

                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="prop">Музыканты:</span>
                                @if (Model.MembersLexems?.Length != 0)
                                {
                                    @Model.MembersLexems?[0]
                                }
                                @for (Int32 i = 1; i < Model.MembersLexems?.Length; i++)
                                {
                                    <a asp-action="artistinfo" asp-route-url="@Model.MembersAnchors[i-1].Url">@Model.MembersAnchors[i - 1].Name</a>
                                    @Model.MembersLexems[i]

                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="prop">Также @(Model.Type == ArtistType.Band ? "известны" : "известен") как:</span>

                                @if (Model.AKAsLexems?.Length != 0)
                                {
                                    @Model.AKAsLexems?[0]

                                }
                                @for (Int32 i = 1; i < Model.AKAsLexems?.Length; i++)
                                {
                                    <a asp-action="artistinfo" asp-route-url="@Model.AKAsAnchors[i-1].Url">@Model.AKAsAnchors[i - 1].Name</a>
                                    @Model.AKAsLexems[i]
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="height:20px;"></div>
        <div class="row">
            <table class="table table-striped table-bordered albums-table">
                @foreach (var album in Model.AlbumAnchors)
                {
                    <tr style="height:100px;">
                        <td style="width:100px;">
                            @if (!album.HasImage)
                            {
                                <img src="~/images/default.jpg" alt="card photo" />
                            }
                            else
                            {
                                <img src="~/images/albums/@(album.AlbumId).jpg" alt="card photo" />

                            }
                        </td>
                        <td style="color:green;width:150px;">@album.AverageRating</td>
                        <td style="text-align:left;">
                            <a asp-controller="album" asp-action="albuminfo" asp-route-url="@album.AlbumUrl">
                                @album.AlbumFullName
                            </a>
                            <span>(@album.ReleaseYear)</span>
                        </td>
                        <td style="font-size:13px;color:gray;">@Html.DisplayFor(a => album.AlbumType)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
