﻿@model ArtistViewModel
@{
    ViewData["Title"] = "RegistrateArtist";
}
<div align="left">
    <form method="post" class="container">
        <h2>Добавление исполнителя</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <p>
            <label asp-for="UrlName">Имя в адресной строке:</label>
            <input asp-for="UrlName" class="form-control" type="text">
            <span asp-validation-for="UrlName"></span>
        </p>
        <p>
            <label asp-for="FullName">Название группы/исполнителя:</label>
            <input asp-for="FullName" class="form-control" type="text">
            <span asp-validation-for="FullName"></span>
        </p>
        <p>
            <label asp-for="Type">Тип:</label>
            <select asp-for="Type" asp-items="Html.GetEnumSelectList<ArtistType>()" class="form-control"></select>
        </p>
        <p>
            <label asp-for="YearBorn">Год рождения (или основания группы):</label>
            <input asp-for="YearBorn" class="form-control" />
            <span asp-validation-for="YearBorn"></span>
        </p>
        <p>
            <label asp-for="YearDied">Год смерти (или распада группы):</label>
            <input asp-for="YearDied" class="form-control" />
            <span asp-validation-for="YearDied"></span>
        </p>
        <p>
            <label asp-for="Country">Страна:</label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country"></span>
        </p>
        <p>
            <label asp-for="RelatedBands">Группы:</label>
            <textarea asp-for="RelatedBands" class="form-control" rows="6"></textarea>
            <span asp-validation-for="RelatedBands"></span>
        </p>
        <p>
            <label asp-for="RelatedMembers">Участники:</label>
            <textarea asp-for="RelatedMembers" class="form-control" rows="6"></textarea>
            <span asp-validation-for="RelatedMembers"></span>
        </p>
        <p>
            <label asp-for="AKAs">Известен(ы) также как:</label>
            <textarea asp-for="AKAs" class="form-control" rows="6"></textarea>
            <span asp-validation-for="AKAs"></span>
        </p>
        <p>
            <label asp-for="Biography">Биография</label>
            <textarea asp-for="Biography" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Biography"></span>
        </p>
        <input type="submit" class="btn btn-primary" value="Добавить">
    </form>
</div>
@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial")
}


