﻿@model IEnumerable<GenreAnchorViewModel>
@{
    ViewData["Title"] = "AllGenres";
}
<div class="container" align="left">
    <h4>Жанры:</h4>
    @if (Model != null)
    {
        foreach (var genre in Model)
        {
            <p>
                <a asp-controller="genre" asp-action="genreinfo"
                   asp-route-id="@genre.GenreId">
                    @genre.GenreName
                </a>: @genre.GenreDescryption
            </p>
        }
    }

</div>

