﻿@model GenreViewModel
@{
    ViewData["Title"] = "GenreInfo";
}
@section Styles{ 
    <style>
        #genres-container label{
            font-weight: bolder;
            font-size: 22px;
        }
    </style>
}

<div id="genres-container" class="container" align="left">
    <h3>Информация о жанре <span style="color:gray">(#@Model.GenreId)</span></h3>
    <br />
    <label>Наименование</label> 
    <p>@Model.GenreName</p>
    <label>Описание </label>
    <p>@Model.GenreDescryption</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Исполнитель</th>
                <th>ссылка</th>
                <th>рейтинг</th>
                <th>год</th>
                <th>тип</th>
            </tr>
        </thead>

        @foreach (var album in Model.Albums)
        {
            <tr>
                <td>
                    <a asp-controller="artist" asp-action="artistinfo" asp-route-url="@album.Artist.Url">
                        @album.Artist.Name
                    </a>
                </td>
                <td>
                    <a asp-controller="album" asp-action="albuminfo" asp-route-url="@album.AlbumUrl">
                        @album.AlbumFullName
                    </a>
                </td>
                <td><span style="color:green">@album.AverageRating</span></td>
                <td>@album.ReleaseYear</td>
                <td>@Html.DisplayFor(a => album.AlbumType)</td>
            </tr>

        }
    </table>
</div>