﻿@model GenreViewModel
@{
    ViewData["Title"] = "NewGenre";
}

<div class="container" align="left">
    <form method="post">
        <h2>Добавить жанр  <a asp-action="allgenres" style="font-size:16px;">Все жанры</a></h2>
        <br/>
        <p>
            <label asp-for="GenreName">Наименование</label>
            <input asp-for="GenreName" class="form-control" />
            <span asp-validation-for="GenreName"></span>
        </p>
        <p>
            <label asp-for="GenreDescryption">Описание</label>
            <textarea asp-for="GenreDescryption" class="form-control" ></textarea>
        </p>
        <input type="submit" class="btn btn-success" value="Добавить" />
    </form>
    
</div>
@section Scripts{ 
    @Html.Partial("_ValidationScriptsPartial")
}
