﻿@model SetGenreViewModel
@{
    ViewData["Title"] = "SetGenre";
}

<div class="container" align="left">
    <h2>
        Альбом:
        <a asp-action="artistinfo"
           asp-controller="artist"
           asp-route-url="@Model.AlbumAnchor.Artist.Url"
           style="font-weight:bold">
            @Model.AlbumAnchor.Artist.Name
        </a> - <a asp-action="albuminfo"
                  asp-controller="album"
                  asp-route-url="@Model.AlbumAnchor.AlbumUrl">
            @Model.AlbumAnchor.AlbumFullName
        </a>
    </h2>

    <form class="form-inline" method="post" asp-action="SetGenre">
        <input name="albumId" type="hidden" value="@Model.AlbumId" />

        <label name="genreName">Добавить жанр</label>
        <input name="GenreName" value="@Model.GenreName" class="form-control m-2" type="text" />
        <span asp-validation-for="GenreName"></span>
        <input type="submit" class="btn btn-outline-primary m-2" value="добавить" />

        <a asp-action="allgenres" style="font-size:16px;">Все жанры</a>
    </form>
    <br/>

    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Жанры</th></tr>
        </thead>
        <tbody>
            @foreach (var genre in Model.AlbumGenreAnchors)
            {
                <tr>
                    <td><a asp-action="genreinfo" asp-route-id="@genre.GenreId">@genre.GenreName</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
}