﻿@model IEnumerable<GenreAnchorViewModel>
@{
    ViewData["search-option"] = SearchByOption.Genre; ;
}
<div class="container" align="left">
    @if (Model == null || Model.Count() == 0)
    {
        <p>Ни одного жанра не найдено</p>
    }
    else{
        <h4>Найденные жанры:</h4>
        foreach (var genre in Model)
        {
            <p>
                <a asp-controller="genre" asp-action="genreinfo"
                   asp-route-id="@genre.GenreId">
                    @genre.GenreName
                </a>: @genre.GenreDescryption
            </p>
        }
    }

</div>

