﻿@model IEnumerable<AlbumAnchorViewModel>
@{ 
    ViewData["search-option"] = SearchByOption.Album;
}

<div class="container" align="left">
    @if (Model == null || Model.Count() == 0)
    {
        <p>Ни одного альбома не найдено</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Исполнитель</th>
                    <th>ссылка</th>
                    <th>рейтинг</th>
                    <th>год</th>
                    <th>тип</th>
                    <th>Id</th>
                </tr>
            </thead>


            @foreach (var album in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="artist" asp-action="artistinfo" asp-route-url="@album.Artist.Url">
                            @album.Artist.Name
                        </a>
                    </td>
                    <td>
                        <a asp-controller="album" asp-action="albuminfo" asp-route-url="@album.AlbumUrl">
                            @album.AlbumFullName
                        </a>
                    </td>
                    <td><span style="color:green">@album.AverageRating</span></td>
                    <td>@album.ReleaseYear</td>
                    <td>@Html.DisplayFor(a => album.AlbumType)</td>
                    <td>@album.AlbumId</td>
                </tr>

            }
        </table>
    }
</div>