﻿@model IEnumerable<UserAnchorViewModel>
@{
    ViewData["search-option"] = SearchByOption.User;
}
<div class="container" align="left">
    @if (Model == null || Model.Count() == 0)
    {
        <p>Ни одного пользователя не найдено</p>
    }
    else
    {
        <h4>Найденные пользователи:</h4>
        foreach (var username in Model)
        {
            <a asp-controller="userprofile" asp-action="userinfo"
               asp-route-nickname="@username.UserName">
                @username.UserName
            </a>
            <br />
        }
    }

</div>


