﻿@model IEnumerable<ArtistAnchorViewModel>
@{
    ViewData["search-option"] = SearchByOption.Artist;
}
<div class="container" align="left">
    @if (Model == null || Model.Count() == 0)
    {
        <p>Ни одного исполнителя не найдено</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Наименование</th>
                    <th>Страна</th>
                    <th>тип</th>
                </tr>
            </thead>


            @foreach (var artist in Model)
            {
                <tr>
                    <td>@artist.Id</td>
                    <td>
                        <a asp-controller="artist" asp-action="artistinfo" asp-route-url="@artist.Url">
                            @artist.Name
                        </a>
                    </td>
                    <td>@artist.Country</td>
                    <td>@Html.DisplayFor(a => artist.ArtistType)</td>
                </tr>

            }
        </table>
    }
</div>