﻿@{ 
    ViewData["search-text"] = null;
    ViewData["search-option"] = SearchByOption.Artist;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Board</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="my-body-container">
        <div class="my-content-container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a class="navbar-brand"
                   asp-controller="albumcharts"
                   asp-action="charts">
                    Music Board
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navb">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navb" class="collapse navbar-collapse">
                    <ul class="navbar-nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="albumcharts"
                               asp-action="charts">
                                Чарты
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="userprofile"
                                   asp-action="userinfo"
                                   asp-route-nickname="@User.Identity.Name">Профиль</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="userprofile"
                                   asp-action="logout">Выйти</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="userprofile"
                                   asp-action="registration">Регистрация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="userprofile"
                                   asp-action="login">Войти</a>
                            </li>
                        }

                    </ul>

                    <form asp-controller="search" asp-action="search" class="form-inline my-2 my-lg-0 ml-auto">
                        <input class="form-control m-2" type="text" style="height:30px" name="context" placeholder="Поиск..." value=@ViewData["search-text"] />
                        <select class="form-control m-2" name="option" style="height:30px;padding:0px;font-size:14px;" asp-items="@Html.GetEnumSelectList<SearchByOption>()" value=@ViewData["search-option"]></select>
                        <input class="form-control btn" type="submit" style="height:30px;padding:0 10px;" value="искать" />
                    </form>
                </div>
            </nav>
            <div align="center">
                @RenderBody()
            </div>
        </div>
        <footer class="bg-dark">
            <a class="text-light" target="_blank" href="https://gitlab.com/ChannelThreeFour/MusicBoard">GitLab</a>
        </footer>
        @RenderSection("Scripts", required: false)

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </div>

</body>
</html>
