﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@section Styles{
    <link rel="stylesheet" href="~/css/registration.css" />
}
<div class="bigwhitediv" style="width:60%;min-width:400px;" align="left">
    <div id="form-container" class="container-fluid" align="left">
        <form method="post">
            <h2>Аворизация</h2>
            <div asp-validation-summary="ModelOnly"></div>
            <p>
                <label asp-for="Login">Логин</label>
                <input asp-for="Login" class="form-control" type="text">
                <span asp-validation-for="Login"></span>
            </p>
            <p>
                <label asp-for="Password">Пароль</label>
                <input asp-for="Password" class="form-control" type="password">
                <span asp-validation-for="Password"></span>
            </p>
            <input class="btn form-control" type="submit" value="Войти" />
        </form>
    </div>
</div>
