﻿@using System.Collections
@model RatingsViewModel
@{
    ViewData["Title"] = "Ratings";
}

@section Styles{
    <link rel="stylesheet" href="~/css/userprofile.css">
}
@functions{
    SelectList GetOptions()
    {
        Int32 yearNow = DateTime.Now.Year;
        ArrayList options = new ArrayList { new { value = 0, text = "-" } };
        options.AddRange(Enumerable.Range(1, 10).Select(a => new { value = a, text = a }).ToList());

        return new SelectList(options, "value", "text", Model.RatingConstraint);
    }
}

<div class="bigwhitediv col-lg-7" style="width:80%;">
    <div class="container-fluid" align="left">
        <h5>Альбомы пользователя @Html.ActionLink(Model.UserAnchor.UserName, "UserInfo", "UserProfile", new { nickname = Model.UserAnchor.UserName })</h5>

        <form method="get" asp-action="ratings" class="form-inline"
              asp-route-nickname="@Model.UserAnchor.UserName" asp-route-page="@Model.PageViewModel.PageNumber">
            <label for="rating">с оценкой</label>
            <select name="rating" class="form-control m-2" style="width:100px;height:30px;padding:0 10px;" asp-items="GetOptions()"></select>
            <input type="submit" style="height:30px;padding:0 10px;" class="btn form-control btn-success" value="найти"/>
        </form>
        <table class="table table-striped table-bordered activities-table">
            <tbody>
                @foreach (var album in Model.Ratings)
                {
                    <tr>
                        <td style="width:70px;">
                            @if (album.HasImage)
                            {
                                <img src="~/images/albums/@(album.AlbumId).jpg">

                            }
                            else
                            {
                                <img src="~/images/default.jpg">

                            }

                        </td>
                        <td style="width:50px;">
                            <div class="activity-date">
                                <div class="activity-month">@album.RatingDate.Month</div>
                                <div class="activity-day">@album.RatingDate.Day</div>
                                <div class="activity-year">@album.RatingDate.Year</div>
                            </div>
                        </td>
                        <td style="width:200px;">@album.Rating/10</td>
                        <td style="text-align: left;">
                            <a style="font-weight: bold;" asp-controller="artist"
                               asp-action="artistinfo" asp-route-url="@album.Artist.Url">@album.Artist.Name</a>
                            -
                            <a asp-controller="album" asp-action="albuminfo" asp-route-url="@album.AlbumUrl">@album.AlbumFullName</a>
                            <span style="font-size: 13px;color: gray">(@album.ReleaseYear)</span>
                        </td>
                        <td style="width: 200px">
                            @foreach (var genre in album.Genres)
                            {
                                <p style="margin-bottom:2px;">
                                    <a asp-controller="genre" asp-action="genreinfo" asp-route-id="@genre.GenreId">
                                        @genre.GenreName
                                    </a>
                                </p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <page-link page-action="ratings" page-model="Model.PageViewModel" asp-route-nickname="@Model.UserAnchor.UserName">

        </page-link>
    </div>
</div>