﻿@model UserInfoViewModel
@{
    ViewData["Title"] = "Registration";
}
@section Styles{
    <link rel="stylesheet" href="~/css/registration.css" />
}
    <div class="bigwhitediv" style="width:60%;min-width:400px;" align="left">
        <div id="form-container" class="container-fluid" align="left">
            <form method="post">
                <h2>Регистрация</h2>
                <div asp-validation-summary="ModelOnly"></div>
                <p>
                    <label asp-for="Nickname">Логин</label>
                    <input asp-for="Nickname" class="form-control" type="text">
                    <span asp-validation-for="Nickname"></span>
                </p>
                <p>
                    <label asp-for="Email">E-Mail</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </p>
                <p>
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password"></span>
                </p>
                <p>
                    <label asp-for="ConfirmPassword">Повторите пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword"></span>
                </p>
                <br />
                <h3>Расскажите о себе</h3>
                <p>
                    <label asp-for="Name">Имя</label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </p>
                <p>
                    <label asp-for="Surname">Фамилия</label>
                    <input asp-for="Surname" type="text" class="form-control" />
                    <span asp-validation-for="Surname"></span>
                </p>
                <p>
                    <label asp-for="BirthDate">Дата рождения</label>
                    <input asp-for="BirthDate" class="form-control" type="date" />
                    <span asp-validation-for="BirthDate"></span>
                </p>
                <p>
                    <label asp-for="Gender">Пол</label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                </p>
                <p>
                    <label asp-for="About">О себе</label>
                    <textarea asp-for="About" class="form-control" rows="6"></textarea>
                </p>
                <p>
                    <label asp-for="Favourites">Любимые музыканты</label>
                    <textarea asp-for="Favourites" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Favourites"></span>
                </p>
                <p>
                    <label asp-for="Country">Страна</label>
                    <input asp-for="Country" class="form-control" />
                </p>
                <input type="submit" class="btn btn-primary" value="Регистрация">
            </form>
        </div>
    </div>

@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial")
}