﻿@model UserInfoViewModel
@{
    ViewData["Title"] = "UserProfile";
}
@functions{
    String GetString(Microsoft.AspNetCore.Html.IHtmlContent content)
    {
        var writer = new System.IO.StringWriter();
        content.WriteTo(writer, System.Text.Encodings.Web.HtmlEncoder.Default);
        return writer.ToString();
    }
}
@section Styles{
    <link rel="stylesheet" href="~/css/userprofile.css">
}

<div class="bigwhitediv col-lg-7" style="width:80%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col profile-header justify-content-end">
                <p style="margin-bottom:0">
                    участник с
                    @Model.RegistrationDate.ToString("dd.MM.yyyy"), #@Model.SurrogateId,
                    <span class="profilename">@Model.Nickname</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">Профиль пользователя</div>
                @if (!Model.HasImage)
                {
                    <img class="card-img-top" src="~/images/default.jpg" alt="card photo" />
                }
                else
                {
                    <img class="card-img-top" src="~/images/users/@(Model.SurrogateId).jpg" alt="card photo" />

                }
                @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Nickname)
                {
                    <form asp-action="SetImage" method="post" enctype="multipart/form-data">
                        <input type="file" class="form-control" name="image" value="обзор">
                        <input type="submit" class="form-control" value="загрузить">
                    </form>
                }

                <div class="card-body">
                    <h5 class="card-title">@Model.Name @Model.Surname</h5>
                    <div class="card-text">
                        @(Model.BirthDate.HasValue ? (new DateTime((DateTime.Now - Model.BirthDate.Value).Ticks).Year - 1).ToString() : "-"),
                        @Html.DisplayFor(m => m.Gender),
                        @Model.Country.
                    </div>
                </div>
            </div>
            <div class="col profile-info-container">
                <table class="table table-striped profile-info" style="text-align: left">
                    <tbody>
                        <tr>
                            <td>О себе:</td>
                            <td>@Model.About</td>
                        </tr>
                        <tr>
                            <td>Любимые исполнители:</td>
                            <td>
                                @if (Model.FavouritesLexems?.Length != 0)
                                {
                                    @Model.FavouritesLexems?[0]
                                }
                                @for (Int32 i = 1; i < Model.FavouritesLexems?.Length; i++)
                                {
                                    <a asp-action="artistinfo" asp-controller="artist" asp-route-url="@Model.FavouritesAnchors[i-1].Url">@Model.FavouritesAnchors[i - 1].Name</a>
                                    @Model.FavouritesLexems[i]

                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
                @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Nickname)
                {
                    <div class="row">
                        <div class="col profile-btn-wrapper bg-lgray">
                            <a class="btn align-right btn-secondary" href="#">Настройки</a>
                            <a class="btn align-right btn-secondary" style="margin-right: 15px" href="#">Друзья</a>
                        </div>
                    </div>
                }

            </div>
        </div>
        @*<div class="row">
            <div class="col">
                <form class="form-inline form-group-sm collection-search-form align-right">
                    <label for="text" style="padding:10px">Поиск в коллекции</label>
                    <input type="text" class="form-control" id="collection-search-key">
                    <label for="text" style="padding:10px">по</label>
                    <select id="search-type" class="form-control">
                        <option value="artist">Исполнитель</option>
                        <option value="album">Релиз</option>
                        <option value="genre">Жанр</option>
                        <option value="year">Год выпуска</option>
                    </select>

                    <button type="submit" style="margin-left:10px;" class="btn btn-success">поиск</button>
                </form>
            </div>
        </div>*@
        <div class="row" id="ratings-wrapper">
            <div class="col collection-navigation">
                <ul class="nav nav-tabs bg-lgray nav-light">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#activities">история</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#rating-scale">
                            оценки <span style="color: red">[@Model.RatingsCount]</span>
                        </a>
                    </li>
                </ul>

                <!--Tab panels -->
                <div class="tab-content">
                    <div class="tab-pane active" id="activities">
                        <table class="table table-striped table-bordered activities-table">
                            <tbody>
                                @foreach (var album in Model.Ratings)
                                {
                                    <tr id="tr-first">
                                        <td style="width:70px;">
                                            @if (album.HasImage)
                                            {
                                                <img src="~/images/albums/@(album.AlbumId).jpg">

                                            }
                                            else
                                            {
                                                <img src="~/images/default.jpg">

                                            }

                                        </td>
                                        <td style="width:50px;">
                                            <div class="activity-date">
                                                <div class="activity-month">@album.RatingDate.ToString("MMM")</div>
                                                <div class="activity-day">@album.RatingDate.Day</div>
                                                <div class="activity-year">@album.RatingDate.Year</div>
                                            </div>
                                        </td>
                                        <td style="width:200px;">@album.Rating/10</td>
                                        <td style="text-align: left;">
                                            <a style="font-weight: bold;" asp-controller="artist"
                                               asp-action="artistinfo" asp-route-url="@album.Artist.Url">@album.Artist.Name</a>
                                            -
                                            <a asp-controller="album" asp-action="albuminfo" asp-route-url="@album.AlbumUrl">@album.AlbumFullName</a>
                                            <span style="font-size: 13px;color: gray">(@album.ReleaseYear)</span>
                                        </td>
                                        <td style="width: 200px">
                                            @foreach (var genre in album.Genres)
                                            {
                                            <p style="margin-bottom:2px;">
                                                <a asp-controller="genre" asp-action="genreinfo" asp-route-id="@genre.GenreId">
                                                    @genre.GenreName
                                                </a>
                                            </p>
                                            }
                                        </td>
                                    </tr>

                                }

                                <tr id="tr-last" style="height:30px">
                                    <td>
                                        <a class="activities-expand" asp-action="ratings" 
                                           asp-route-nickname="@Model.Nickname">еще...</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="rating-scale">
                        <table class="table table-striped table-bordered ratings-table">
                            <thead>
                                <tr>
                                    <td style="width:150px;">Всего оценок:</td>
                                    <td style="width:100px;">
                                        <a style="font-weight: bolder; text-decoration: underline"
                                           asp-action="ratings" asp-route-nickname="@Model.Nickname">@Model.RatingsCount</a></td>
                                    <td />
                                </tr>
                            </thead>
                            @await Component.InvokeAsync("RatingScale", new { nickname = Model.Nickname })
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
