﻿@using System.Collections
@model AlbumViewModel
@{
    ViewData["Title"] = "AlbumInfo";
}

@section Styles{
    <link rel="stylesheet" href="~/css/userprofile.css" />
    <link rel="stylesheet" href="~/css/artist.css" />
}

@functions{
    SelectList GetOptions()
    {
        Int32 yearNow = DateTime.Now.Year;
        ArrayList options = new ArrayList { new { value = 0, text = "-" } };
        options.AddRange(Enumerable.Range(1, 10).Select(a => new { value = a, text = a }).ToList());

        return new SelectList(options, "value", "text", Model.CurrentUsersRate);
    }
}

<div class="bigwhitediv col-lg-7" id="qq" style="width:80%;min-width:850px" align="left">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header"><h2>@Model.AlbumFullName</h2></div>
                @if (!Model.HasImage)
                {
                    <img class="card-img-top" src="~/images/default.jpg" alt="card photo" />
                }
                else
                {
                    <img class="card-img-top" src="~/images/albums/@(Model.AlbumId).jpg" alt="card photo" />

                }
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-action="SetImage" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="albumId" value="@Model.AlbumId" />
                        <input type="file" class="form-control" name="image" value="обзор">
                        <input type="submit" class="form-control" value="загрузить">
                    </form>
                }
                <div class="card-body">
                    <div class="card-title">
                        <h5>Оценка: <span style="color:green;">@Model.AverageRating</span></h5>
                    </div>
                    <div class="card-text">
                        Количество оценок: @Model.RatingsCount
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" class="form-inline" asp-controller="UserProfile" asp-action="SetRating"
                              asp-route-albumId="@Model.AlbumId">
                            <select name="rating" style="width:100px;height:30px;padding:0 10px;" class="form-control" asp-items="GetOptions()"></select>
                            <input type="submit" style="height:30px;padding:0 10px;" class="btn btn-success m-2 form-control" value="рейт" />
                        </form>

                    }

                </div>

            </div>

            <div class="col profile-info-container">
                <table class="table table-striped profile-info" style="text-align: left">
                    <tbody>
                        <tr><td><span class="prop">Идентификатор:</span> @Model.AlbumId</td></tr>
                        <tr><td><span class="prop">Исполнитель:</span> <a asp-action="artistinfo" asp-controller="artist" asp-route-url="@Model.Artist.Url">@Model.Artist.Name</a></td></tr>
                        <tr><td><span class="prop">Тип релиза:</span> @Html.DisplayFor(a => Model.AlbumType)</td></tr>
                        <tr><td><span class="prop">Дата релиза:</span> @Model.ReleaseDate.ToString("dd.MM.yyyy")</td></tr>
                        <tr>
                            <td onmouseenter="showAddGenreButton(); return false;"
                                onmouseleave="hideAddGenreButton(); return false;">
                                <p>
                                    <span class="prop">Жанры:</span>
                                    @if (Model.GenreAnchors != null)
                                    {
                                        for (var i = 0; i < Model.GenreAnchors.Length; i++)
                                        {
                                            if (i != 0)
                                            {
                                                <span>,&nbsp;</span>
                                            }
                                            <a asp-action="genreinfo" asp-controller="genre" asp-route-id="@Model.GenreAnchors[i].GenreId">
                                                @Model.GenreAnchors[i].GenreName
                                            </a>

                                        }
                                    }
                                    else
                                    {
                                        <span>-</span>

                                    }
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a id="addGenreButton" class="btn" asp-controller="genre" style="visibility:hidden" asp-action="setgenre" asp-route-albumId="@Model.AlbumId">
                                            Добавить жанр
                                        </a>
                                    }
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/AlbumInfo.js"></script>
}
