﻿@model AlbumViewModel
@{
    ViewData["Title"] = "New";
}

<div align="left">
    <form method="post" class="container" asp-action="newalbum">
        <h2>Добавление альбома</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <p>
            <label asp-for="ArtistId">Идентификатор артиста:</label>
            <input asp-for="ArtistId" class="form-control" type="number" />
            <span asp-validation-for="ArtistId"></span>
        </p>
        <p>
            <label asp-for="AlbumUrlName">Наименование в адресной строке:</label>
            <input asp-for="AlbumUrlName" class="form-control" type="text" />
            <span asp-validation-for="AlbumUrlName"></span>
        </p>
        <p>
            <label asp-for="AlbumFullName">Наименование альбома:</label>
            <input asp-for="AlbumFullName" class="form-control" type="text" />
            <span asp-validation-for="AlbumFullName"></span>
        </p>
        <p>
            <label asp-for="AlbumType">Тип релиза:</label>
            <select asp-for="AlbumType" asp-items="Html.GetEnumSelectList<AlbumType>()" class="form-control"></select>
        </p>
        <p>
            <label asp-for="ReleaseDate">Дата релиза:</label>
            <input asp-for="ReleaseDate" class="form-control" type="text" />
            <span asp-validation-for="ReleaseDate"></span>
        </p>
        <input type="submit" class="btn btn-submit" value="Добавить" />
    </form>
</div>
@section Scripts{ 
    @Html.Partial("_ValidationScriptsPartial")
}

