﻿@using System.Collections

@model AlbumChartsViewModel
@{
    ViewData["Title"] = "Charts";
}

@functions{
    SelectList GetOptions()
    {
        Int32 yearNow = DateTime.Now.Year;
        ArrayList options = new ArrayList { new { value = 0, text = "за все время" } };
        for (Int32 i = yearNow; i >= 1900; i--)
        {
            options.Add(new { value = i, text = i });
        }

        return new SelectList(options, "value", "text", Model.ChartsFilterViewModel.Year);
    }
}

<div class="container" align="left">
    <div class="row">
        <div class="col-md-7">
            <form method="get">
                <h4>Поиск</h4>

                <input type="hidden" name="page" value="@Model.PageViewModel.PageNumber" />

                <p>
                    <label for="Genres">Жанры</label>
                    <input name="Genres" class="form-control" value="@Model.ChartsFilterViewModel.Genres" type="text" />
                    <span asp-validation-for="ChartsFilterViewModel.Genres"></span>
                </p>
                <p>
                    <label for="Country">Страна</label>
                    <input name="Country" class="form-control" value="@Model.ChartsFilterViewModel.Country" type="text" />
                </p>
                <p>
                    <label for="Year">Год</label>
                    <select name="Year" class="form-control" asp-items=GetOptions()></select>
                </p>
                <div style="float:left">
                    <input float="left" type="submit" class="btn btn-primary" value="найти" />
                </div>
                <div style="float:left;margin-left:20px;padding:5px;">
                    Вы можете добавить
                    <a asp-controller="album" asp-action="newalbum">альбом</a>
                    или
                    <a asp-controller="artist" asp-action="newartist">исполнителя</a>
                    или
                    <a asp-controller="genre" asp-action="newgenre">жанр</a>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            @if (Model.AlbumAnchors == null || Model.AlbumAnchors.Count() == 0)
            {
                <p>Ни одного альбома не найдено</p>
            }
            else
            {
                <table class="table table-striped table-bordered albums-table">
                    @{ 
                        Int32 k = (Model.PageViewModel.PageNumber - 1)*40 + 1;


                        foreach (var album in Model.AlbumAnchors)
                        {
                        <tr style="height:100px;">
                            <td>@(k++)</td>
                            <td style="width:100px;">
                                @if (!album.HasImage)
                                    {
                                    <img src="~/images/default.jpg" alt="card photo" />
                                }
                                else
                                {
                                    <img src="~/images/albums/@(album.AlbumId).jpg" alt="card photo" />

                                }
                            </td>
                            <td style="width:150px;">
                                <span style="color:green;">@album.AverageRating.ToString("F2")</span> <span style="color:gray;font-size:12px;">(@album.RatingsCount)</span>
                            </td>
                            <td style="text-align:left;">
                                <a asp-controller="artist" asp-action="artistinfo" asp-route-url="@album.Artist.Url" style="font-weight: bold;">
                                    @album.Artist.Name
                                </a> -
                                <a asp-controller="album" asp-action="albuminfo" asp-route-url="@album.AlbumUrl">
                                    @album.AlbumFullName
                                </a>
                                <span style="font-size: 13px;color: gray;">(@album.ReleaseYear)</span>
                            </td>
                            <td style="font-size:13px;color:gray;">@Html.DisplayFor(a => album.AlbumType)</td>
                            <td style="width: 200px">
                                @foreach (var genre in album.Genres)
                                    {
                                    <p style="margin-bottom:2px;">
                                        <a asp-controller="genre" asp-action="genreinfo" asp-route-id="@genre.GenreId">
                                            @genre.GenreName
                                        </a>
                                    </p>
                                }
                            </td>
                        </tr>
    
                    }
                        }
                </table>
            }
            <page-link page-model="@Model.PageViewModel" page-action="charts"
                       asp-route-country="@Model.ChartsFilterViewModel.Country"
                       asp-route-genres="@Model.ChartsFilterViewModel.Genres"
                       asp-route-year="@Model.ChartsFilterViewModel.Year"></page-link>
        </div>
    </div>
</div>

@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
}