﻿@model RatingsViewComponentModel
@{
    ViewData["Title"] = "Default";
}

@{
    Int32 max = Model.Ratings.Max();
    String[] colors = new String[]
    {
        "gray",
        "#8f4747",
        "red",
        "orange",
        "#f6db14",
        "#efef0c",
        "#cfe76f",
        "#97b33e",
        "#78c278",
        "#2be42b"
    };
}

<tbody>
    @for (Int32 i = Model.Ratings.Length - 1; i >= 0; i--)
    {
        <tr>
            <td><a asp-action="ratings" asp-controller="userprofile" asp-route-rating=@(i+1) asp-route-nickname="@Model.Nickname">@(i + 1)</a></td>
            <td>@Model.Ratings[i]</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" style="width:@(((Double)Model.Ratings[i] / max)*100)%; background: @colors[i];"></div>
                </div>
            </td>
        </tr>
    }
</tbody>